<div class="post__share">
  <ul class="share__list list-reset">
    <li class="share__item">
      <a class="share__link share__twitter" href="https://x.com/SirDevAlot" target="_blank" title="Visit my Twitter" rel="noopener"><i class="ion ion-logo-twitter"></i></a>
    </li>

    <li class="share__item">
      <a class="share__link share__linkedin" href="https://www.linkedin.com/in/harry-stansfield-599a3831b/" target="_blank" title="Visit my LinkedIn" rel="noopener"><i class="ion ion-logo-linkedin"></i></a>
    </li>
  </ul>
</div>