---
layout: default
---

<div class="container">
  <div class="row">
      <div class="col col-12">
        <div class="page-head">
          <div class="tag">
            <h1 class="page-title">{{ page.tag }}</h1>
            <div class="tag-meta">
              <div class="tag-count{% if page.projects.size > 9 %} count-padding-small{% endif %}">
                <div class="tag-number">{{ page.projects.size }}</div>
              </div>
              <span>{% if page.projects.size < 2 %}Project {% else %}Projects{% endif %}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="row">
    {% for project in page.projects %}
      <article class="project col col-4 col-d-6 col-t-12">
        <div class="project__content">
          <a href="{{ project.url }}" class="project__image">
            <img class="lazy" data-src="{{ project.image }}" alt="{{ project.title }}">
          </a>
          <div class="project__info">
            <div class="project__info-wrap">
              <h4 class="project__title">{{ project.title }}</h4>
            </div>
            <div class="project__info-wrap">
              {% if project.subtitle %}
                <div class="project__subtitle">{{ project.subtitle }} –</div>
              {% endif %}
            </div>
            {% if project.tags.size >= 1 %}
              <div class="project-tags__box">
                {% for tag in project.tags %}
                  <a href="{{ site.baseurl }}/project-tag/{{ tag | slugify }}" class="project__tag">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
